ion-content{
  --background: url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg);
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
   
  .my-message {
    background: #fff;
    color: black;
  }

   
  .time {
    color: #0a0a0a;
    float: right;
    font-size: small;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }
  .danger {
    background-color: rgb(231, 151, 2);
    color: white;
  }
  
  .success {
    background-color: #00E74E;
    color: #fff;
  }
  
  .default {
    background-color:#53C1FA;
    color: white;
  }
.primary {
  background-color:#1DA678;
  color: rgb(255, 255, 253);
  .small-left{
    color: rgb(255, 255, 255);
    text-align: left;
  }
  .small-right{
    color:  rgb(253, 252, 251);
    text-align: right;
  }
}
.tertiary {
  background-color:#BE3A9F;
  color: rgb(255, 255, 254);
  .small-left{
    color: rgb(248, 242, 245);
    text-align: left;
  }
  .small-right{
    color: rgb(252, 249, 250);
    text-align: right;
  }
}
.dark {
  background-color:#9160CD;
  color: rgb(244, 241, 247);
  .small-left{
    color: rgb(234, 223, 238);
    text-align: left;
  }
  .small-right{
    color: rgb(188, 243, 220);
    text-align: right;
  }
}


ion-content .scroll-content {
    background-color: #f5f5f5;
}
.line-breaker {
    white-space: pre-line;
}
.container {
  .message {
    position: relative;
    padding: 7px 0;
    .msg-content {
        color: #343434;
        background-color: #ddd;
        float: left;        
    }
    .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    .msg-detail {
        width: 100%;
        padding-left: 60px;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }
    }
  }
}

.tick{
  color: rgb(0, 183, 255);
}
progress {
  border: none;
  border-radius: 0.5em;
  background: #8795DE;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #8795DE;
}

progress::-webkit-progress-bar {
  background: rgb(244, 244, 247);
}
.white{
background-color: white;
}
.small-right{
  text-align: right;
  margin: 0px;
  color: rgb(27, 19, 1);
}
.small-left{
  text-align: left;
  margin: 0px;
  color: rgb(0, 0, 0);
}
.text-muted{
  color: rgb(92, 92, 92);
}