<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Search for User" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
<ion-list *ngIf="contacts.length > 0; else nocontacts"  lines="none" class="app-list">
  <ion-item  *ngFor="let contact of contacts"   (click)="open(contact)"    >
       
   
        <ion-avatar slot="start">
          <img src="https://ui-avatars.com/api/?name={{ contact._objectInstance.displayName }}&background=02a9f4&color=fff">
        </ion-avatar>
        <ion-label>
          <h2>{{ contact._objectInstance.displayName }}</h2>
          <p>{{ Contactparser(contact._objectInstance.phoneNumbers[0].value) }}</p>
         
        </ion-label>
     
      </ion-item>
    </ion-list>
<ng-template #nocontacts>
  <ion-item>
    No Contacts found.
  </ion-item>
</ng-template>
</ion-content>
