<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Translation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-card  >
    
    <ion-card-header>
      <ion-card-subtitle>Detected Language {{ getLangName(detectedLanguage) }}</ion-card-subtitle>
      <ion-card-content>
        <h2> {{ text }}</h2> 
         </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-card  *ngFor="let translation of translations"  >
    <ion-card-header>
      <ion-card-subtitle>{{ getLangName(translation.to) }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
   <h2> {{ translation.text }}</h2> 
    </ion-card-content>
  </ion-card>
</ion-content>
