<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="contact-avatar">
      <img src="https://ui-avatars.com/api/?name={{ name }}" />
    </ion-avatar>
    <ion-title (tap)="showContactProfile()">
      <ion-label>
        <h2>{{ name }}</h2>
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
    
      <ion-button (click)="speaker()">
        <ion-icon slot="icon-only" [name]="muted ? 'volume-off' : 'volume-mute'" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-grid  >
    <ion-row *ngFor="let message of messages; let i = index">
      <ion-col     (click)="ShowMessage(message)"  size="9" (press)="presentActionSheet(message,i)"   *ngIf="message.to === data.from && !message.isBan" class="{{ getSentiment(message.score) }} message ">
        <img *ngIf="!message.isDeletedByYou && message.isfile"  height='25px' src="https://letchat-upload.herokuapp.com/{{message.ext}}.png" > 
      
        <p  class="small-right" *ngIf="message.isTagged" color="getColor(message.TagName)" ><small>   {{ message.TagName }}</small></p>
        <span  *ngIf="!message.isDeletedByYou"  >{{ message.message }} {{ message.original }}   </span>   <span class="text-muted" *ngIf="message.isDeletedByYou"  >Message Deleted  </span><img *ngIf="isspam(message.spamcheck)"  height='30px' src="https://image.flaticon.com/icons/svg/564/564619.svg" >
        <img *ngIf="isbirthday(message.message)"  height='30px' src="https://image.flaticon.com/icons/svg/2451/2451787.svg" > 
        <img *ngIf="iscongratulation(message.message)"  height='130px' src="https://image.flaticon.com/icons/png/512/1629/1629891.png" > 
        
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}  </div>

      </ion-col>
 
      <ion-col (click)="ShowMessage(message)" (press)="presentActionSheet(message,i)"   offset="3" size="9" *ngIf="message.to !== data.from" class="message my-message">
        <img *ngIf="!message.isDeletedByMe && message.isfile "  height='25px' src="https://letchat-upload.herokuapp.com/{{message.ext}}.png" > 
       <p  class="small-right" *ngIf="message.isTagged" color="getColor(message.TagName)" ><small>{{ message.TagName }}</small></p>
              <span *ngIf="!message.isDeletedByMe" >{{ message.message }} {{ message.original }}  </span> <span class="text-muted" *ngIf="message.isDeletedByMe"  >Message Deleted  </span>
              <img *ngIf="message.isBan"   height='30px' src="https://image.flaticon.com/icons/svg/564/564619.svg" >
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}<span *ngIf="message.isSeen" class="tick">✔✔</span><span *ngIf="!message.isSeen" >✔✔</span></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


